{{log this}}
<section>
    <h2>{{currentPost.title}}</h2>
    <p>{{currentPost.description}}</p>
    <p>{{currentPost.username}}</p>

    <img src="/{{currentPost.image}}" />

    <p>{{formatDate currentPost.createdAt}}</p>
</section>
    