{{log this}}
<section>
    <h2>{{currentPost.title}}</h2>
    <p>{{currentPost.description}}</p>
    <p>{{currentPost.username}}</p>

    <img src="/{{currentPost.image}}" />

    <p>{{formatDate currentPost.createdAt}}</p>

    <div class="comment-section">
        <div class="comment-box">
            <textarea id="comment-text" class="comment-box-text"></textarea>
            <i id="comment-button" data-postid="{{currentPost.id}}" class="fa fa-comment comment-box-button" aria-hidden="true"></i>
        </div>
    </div>
</section>
    